$colors: (
  primary: #ffffff,
  secondary: #083817,
  tertiary: #000000
);

  $tablet: 300px;
  $laptop: 900px;
  $desktop: 1100px;


@function color($color-name) {
  @return map-get($colors, $color-name);
}


@mixin tablet {
@media (min-width: #{$tablet}),
(max-width: #{600px}){
  @content; 
}
}

@mixin laptop {
@media (min-width: #{$laptop}),
(max-width: #{1000px}){
  @content; 
}
}

@mixin desktop {
@media (min-width: #{$desktop}){
  @content; 
}
}