$colors: (
  primary: #ffffff,
  secondary: #1e793a,
  tertiary: #000000
);

  $phone: 400px;
  $tablet: 600px;
  $laptop: 900px;
  $desktop: 1100px;


@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin phone {
  @media (min-width: #{$phone}){
    @content;
  }
}

@mixin tablet {
@media (min-width: #{$tablet}){
  @content; 
}
}

@mixin laptop {
@media (min-width: #{$laptop}){
  @content; 
}
}

@mixin desktop {
@media (min-width: #{$desktop}){
  @content; 
}
}