@import "_variables.scss";

$primary: #ffffff;
$secondary: #1e793a;
$secondary_light: #9beba5;
$tertiary: #000000;


html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 400vh;
    font-family: 'Molle', cursive;
}

body{
    background-color: $secondary;
    height: 100%;
    position: relative;
}

.title{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(secondary), 0.5),
        rgba(color(primary), 0.5)
    ),
    url(../../img/mosque.jpg); 
    background-position: top;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
    clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);
    
}

.main_title{
    display: flex;
    height: 50rem;
    color: $primary;
    align-items: center;
    flex-direction: column;
}

.main_title_1{
    height: 7rem;
    font-size: 4rem;
    @include phone{
        height: 6rem;
        font-size: 19rem;
    }
    @include tablet{
        height: 15rem;
        font-size: 9rem;
    }
    @include desktop{
        height: 9rem;
        font-size: 15rem; 
    }
    /*@include laptop{
        height: 7rem;
        font-size: 7rem;
    }*/
}

.sub_title{
    display: flex;
    color: $primary;
    align-items: center;
    font-size: 2rem;
    @include phone{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 3.5rem;
    }
    /*@include laptop{
        font-size: 1.5rem;
    }*/
}

.space1{
    height: 10rem;
}

.general{
    display: flex;
    height: 100vh;

    background-color: $primary;
    background-position: top;
    align-items: center;
    max-height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    @include phone{
        flex-direction: row;
    }
    @include tablet{
        flex-direction: column;
    }
    @include desktop{
        flex-direction: row;
    }
}

/*resize images into 200 x 400*/

#rotating_one{
    background-image: url(../../img/archway.jpg);
    background-size: cover;
    height: 20rem;
    width: 36rem;
    @include phone{
        height: 20rem;
        width: 36rem;
    }
    @include tablet{
        height: 30rem;
        width: 75rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#rotating_two{
    background-image: url(../../img/turkskyline.jpg);
    background-size: cover;
    height: 20rem;
    width: 36rem;
    @include phone{
        height: 20rem;
        width: 36rem;
    }
    @include tablet{
        height: 30rem;
        width: 75rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#rotating_three{
    background-image: url(../../img/doortohell.jpg);
    background-size: cover;
    height: 20rem;
    width: 36rem;
    @include phone{
        height: 20rem;
        width: 36rem;
    }
    @include tablet{
        height: 30rem;
        width: 75rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}