@import "_variables.scss";

$primary: #ffffff;
$secondary: #1e793a;
$secondary-light: #9beba5;
$tertiary: #000000;


html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 400vh;
    font-family: 'Molle', cursive;
}

body{
    background-color: $secondary-light;
    height: 100%;
    position: relative;
}

#title{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(secondary), 0.5),
        rgba(color(primary), 0.5)
    ),
    url(../../img/mosque.jpg);
    border-radius: 5rem; 
    background-position: top;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include phone{
        border-radius: 10rem;
    }
    /*clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);*/
    
}

.main_title{
    display: flex;
    height: 50rem;
    color: $primary;
    align-items: center;
    flex-direction: column;
}

.main_title_1{
    height: 7rem;
    font-size: 4rem;
    @include phone{
        height: 6rem;
        font-size: 19rem;
    }
    @include tablet{
        height: 15rem;
        font-size: 9rem;
    }
    @include desktop{
        height: 9rem;
        font-size: 15rem; 
    }
    /*@include laptop{
        height: 7rem;
        font-size: 7rem;
    }*/
}

.sub_title{
    display: flex;
    color: $primary;
    align-items: center;
    font-size: 2rem;
    @include phone{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 3.5rem;
    }
    /*@include laptop{
        font-size: 1.5rem;
    }*/
}

.space1{
    height: 10rem;
}

#1st_block{
    background-color: $secondary;
    
    display: flex;
}

.sub_title_1{
    display: flex;
    height: 0rem;
    text-align: center;
    justify-content: center;
}

.second_title{
    display: flex;
    height: 10rem;
    font-size: 4rem;
    color: $primary;
    text-align: center;
    justify-content: center;
    @include phone{
        font-size: 6rem;        
    }
    @include tablet{
        font-size: 6.8rem;
    }
    @include desktop{
        font-size: 7rem;
    }
}

.landmarks{
    display: flex;
    background-color: $secondary;
    border-radius: 5rem;
    height: 100vh;
    background-color: $secondary;
    background-position: top;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5rem;
    @include phone{
        flex-direction: row;
        border-radius: 10rem;
    }
    @include tablet{
        flex-direction: column;
        height: 90vh;
        border-radius: 10rem;
    }
    @include desktop{
        flex-direction: row;
        height: 100vh;
    }
}

.landmarks_1{
    display: flex;
    transition: all 0.5s;
}

.landmarks_1:hover{
    filter: brightness(200%);
    transform: scale(1.2);
}

/*resize images into 200 x 400*/

#landmark_one{
    background-image: url(../../img/ashgabat-palace.jpg);
    background-size: cover;
    height: 15rem;
    width: 33rem;
    @include phone{
        height: 15rem;
        width: 33rem;
    }
    @include tablet{
        height: 20rem;
        width: 70rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#landmark_two{
    background-image: url(../../img/independ_monument.jpg);
    background-size: cover;
    height: 15rem;
    width: 33rem;
    @include phone{
        height: 15rem;
        width: 33rem;
    }
    @include tablet{
        height: 20rem;
        width: 70rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#landmark_three{
    background-image: url(../../img/doortohell.jpg);
    background-size: cover;
    height: 15rem;
    width: 33rem;
    @include phone{
        height: 15rem;
        width: 33rem;
    }
    @include tablet{
        height: 20rem;
        width: 70rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#2nd_block{
    display: flex; 
}

.holder2{
    background-color: $secondary;
    align-items: center;
    border-radius: 5rem;
    height: 100vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    @include phone{
        border-radius: 10rem;
        flex-direction: column;
        justify-content: space-around;
    }

    @include tablet{
        border-radius: 10rem;
        flex-direction: column;
        justify-content: space-around;
    }

    @include desktop{
        border-radius: 5rem;
        flex-direction: row;
        justify-content: space-around;
    }
}

.directions{
    display: flex;
    position: relative;
    perspective: 150rem;
    height: 20rem;
    width: 30rem;
    @include tablet{
        height: 33rem;
        width: 47rem;
    }
    @include desktop{
        height: 60rem;
        width: 60rem;
    }
}

.hotels{
    display: flex;
    perspective: 150rem;
    position: relative;
    height: 20rem;
    width: 30rem;
    @include tablet{
        height: 33rem;
        width: 47rem;
    }
    @include desktop{
        height: 60rem;
        width: 60rem;
    }
}

.card-side{
    display: flex;
    background-color: $secondary-light;
    backface-visibility: hidden;
    height: 20rem;
    width: 30rem;
    font-size: 1rem;
    @include phone{
        height: 20rem;
        width: 30rem;
        font-size: 1rem;
    }
    @include tablet{
        height: 33rem;
        width: 47rem;
        font-size: 1.7rem;
    }
    @include desktop{
        height: 60rem;
        width: 60rem;
        font-size: 2.3rem;
    }
}

.card-side-front-1{
    display: flex;
    background-color: $secondary-light;
    text-align: center;
    position: absolute;
    z-index: 1;
    transition: all 1s;
}

.captions{
    color: $primary;
}

.card-side-back-1{
    display: flex;
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
    background-image: url(../../img/ashgabat_flights.PNG);
    background-size: cover;

}

.card-side-front-2{
    display: flex;
    background-color: $secondary-light;
    position: absolute;
    z-index: 1;
    transition: all 1s;
    text-align: center;
}

.card-side-back-2{
    display: flex;
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
    background-image: url(../../img/ashgabat_hotels.PNG);
}

.directions:hover .card-side-front-1{
    transform: rotateY(-180deg);
}

.directions:hover .card-side-back-1{
    transform: rotateY(0deg);
}

.hotels:hover .card-side-front-2{
    transform: rotateY(-180deg);
}

.hotels:hover .card-side-back-2{
    transform: rotateY(0deg);
}

#3rd_block{
    display: flex;
}

.holder3{
    display: flex;
    background-color: $secondary;
    align-items: center;
    border-radius: 2rem;
    height: 100vh;
    justify-content: space-around;
    flex-direction: row;
    @include phone{
        border-radius: 5rem;
    }
}

.blurb{
    display: flex;
    background-color: $secondary-light;
    height: 80rem;
    width: 100rem;
    border-radius: 5rem;
    color: $primary;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    @include phone{
        border-radius: 10rem;
        font-size: 1.5rem;
    }

    @include tablet{
        border-radius: 5rem;
        font-size: 2rem;
    }

    @include desktop{
        font-size: 2.6rem;
    }
}

.overlayed_pics{
    display: flex;
    height: 80rem;
    width: 80rem;
    position: relative;
    margin: 2rem;
}

.pics{
    position: absolute;
    transition: all 0.3s;
    outline-offset: 1rem;
    height: 10rem;
    @include phone{
        height: 10rem;
    }

    @include tablet{
        height: 20rem;
    }

    @include desktop{
       height: 30rem; 
    }
}

.turk_canyon{
    top:20rem;
    left: -5%;
    @include phone{
        top:20rem;
        left: -5%;
    }

    @include tablet{
        top: 16rem;
        left: 12%;
    }
    @include desktop{
        top: 15rem;
        left: 35%;
    }
}

.museum{
    top: 37rem;
    right: -8%;
    @include phone{
        top: 37rem;
        right: -8%;
    }

    @include tablet{
        top: 33rem;
        right: 0%;        
    }
    @include desktop{
        top: 35rem;
        right: 30%;  
    }
}

.neutrality_monument{
    top: 3rem;
    left: -5%;
    @include phone{
        top: 3rem;
        left: -5%;
    }

    @include tablet{
        top: -2rem;
        left: 0;
    }
    @include desktop{
        top: -2rem;
        left: 0; 
    }
}

.mausoleum{
    top: 55rem;
    right: 5%;
    @include phone{
        top: 55rem;
        right: 5%;
    }

    @include tablet{
        top: 51rem;
        right: -3%;
    }
    @include desktop{
        top: 55rem;
        right: 5%; 
    }
}

.pics:hover{
    transform: scale(1.3);
    outline: 1rem solid $primary;
}

.overlayed_pics:hover .pics:not(:hover){
    transform: scale(0.8);
    opacity: 0.5;
}

#footer{
    display: flex;
    background-color: $secondary;
    align-items: center;
    border-radius: 5rem;
    height: 15rem;
    justify-content: space-around;
    flex-direction: row;
    @include phone{
        height: 15rem;
    }
    @include tablet{
        height: 20rem;
    }
    @include desktop{
        height: 20rem;
    }
}

.foothov{
    display: flex;
    height: 5rem;
    width: 5rem;
    filter: contrast(200%);
    @include phone{
        height: 5rem;
        width: 5rem;
    }
    @include tablet{
        height: 10rem;
        width: 10rem;
    }
    @include desktop{
        height: 10rem;
        width: 10rem;
    }
    
}

.link_dimen{
    display: flex;
    height: 5rem;
    width: 5rem;
    @include phone{
        height: 5rem;
        width: 5rem;
    }
    @include tablet{
        height: 10rem;
        width: 10rem; 
    }
    @include desktop{
        height: 10rem;
        width: 10rem;
    }
}

.navigation{
    display: flex;
    align-items: center;
    text-align: center;
    height: 20rem;
    width: 100rem;
}

.nav_bar{
    height: 20rem;
    width: 100rem;
}

.nav_bar_ul{
    display: block;
    list-style-type: disc;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav_list_items{
    display: inline-block;
    height: 10rem;
    width: 10rem;
    margin: 5rem;
    background-color: $primary;
}