@import "_variables.scss";

$primary: #ffffff;
$secondary: #1e793a;
$secondary-light: #9beba5;
$tertiary: #000000;


html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 400vh;
    font-family: 'Molle', cursive;
}

body{
    background-color: $secondary-light;
    height: 100%;
    position: relative;
}

.title{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(secondary), 0.5),
        rgba(color(primary), 0.5)
    ),
    url(../../img/mosque.jpg);
    border-radius: 5rem; 
    background-position: top;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include phone{
        border-radius: 10rem;
    }
    /*clip-path: polygon(0 10%, 10% 10%, 10% 0, 90% 0, 90% 10%, 100% 10%, 100% 90%, 90% 90%, 90% 100%, 10% 100%, 10% 90%, 0 90%);*/
    
}

.main_title{
    display: flex;
    height: 50rem;
    color: $primary;
    align-items: center;
    flex-direction: column;
}

.main_title_1{
    height: 7rem;
    font-size: 4rem;
    @include phone{
        height: 6rem;
        font-size: 19rem;
    }
    @include tablet{
        height: 15rem;
        font-size: 9rem;
    }
    @include desktop{
        height: 9rem;
        font-size: 15rem; 
    }
    /*@include laptop{
        height: 7rem;
        font-size: 7rem;
    }*/
}

.sub_title{
    display: flex;
    color: $primary;
    align-items: center;
    font-size: 2rem;
    @include phone{
        font-size: 3rem;
    }
    @include tablet{
        font-size: 3.5rem;
    }
    /*@include laptop{
        font-size: 1.5rem;
    }*/
}

.space1{
    height: 10rem;
}

.1st_block{
    background-color: $secondary;
    
    display: flex;
}

.sub_title_1{
    display: flex;
    height: 1rem;
    text-align: center;
    justify-content: center;
}

.second_title{
    display: flex;
    height: 10rem;
    font-size: 4rem;
    color: $primary;
    text-align: center;
    justify-content: center;
    @include phone{
        font-size: 6rem;        
    }
    @include tablet{
        font-size: 6rem;
    }
    @include desktop{
        font-size: 6rem;
    }
}

.landmarks{
    display: flex;
    background-color: $secondary;
    border-radius: 5rem;
    height: 85vh;
    background-color: $secondary;
    background-position: top;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5rem;
    @include phone{
        flex-direction: row;
        border-radius: 10rem;
    }
    @include tablet{
        flex-direction: column;
        height: 90vh;
        border-radius: 10rem;
    }
    @include desktop{
        flex-direction: row;
        height: 85vh;
    }
}

/*resize images into 200 x 400*/

#landmark_one{
    background-image: url(../../img/ashgabat-palace.jpg);
    background-size: cover;
    height: 15rem;
    width: 33rem;
    @include phone{
        height: 15rem;
        width: 33rem;
    }
    @include tablet{
        height: 20rem;
        width: 70rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#landmark_two{
    background-image: url(../../img/independ_monument.jpg);
    background-size: cover;
    height: 15rem;
    width: 33rem;
    @include phone{
        height: 15rem;
        width: 33rem;
    }
    @include tablet{
        height: 20rem;
        width: 70rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

#landmark_three{
    background-image: url(../../img/doortohell.jpg);
    background-size: cover;
    height: 15rem;
    width: 33rem;
    @include phone{
        height: 15rem;
        width: 33rem;
    }
    @include tablet{
        height: 20rem;
        width: 70rem;
    }
    @include desktop{
        height: 70rem;
        width: 40rem;
    }
}

.2nd_block{
    display: flex; 
}

.holder2{
    background-color: $secondary;
    align-items: center;
    border-radius: 5rem;
    height: 85vh;
    justify-content: space-around;
    display: flex;
    @include phone{
        border-radius: 10rem;
        flex-direction: column;
    }

    @include tablet{
        border-radius: 10rem;
        flex-direction: column;
    }

    @include desktop{
        border-radius: 5rem;
        flex-direction: row;
    }
}

.directions{
    display: flex;
    position: relative;
    perspective: 150rem;
    height: 60rem;
    width: 40rem;
}

.hotels{
    perspective: 150rem;
    position: relative;
    height: 60rem;
    width: 40rem;
}

.card-side{
    display: flex;
    height: 60rem;
    width: 40rem;
    font-size: 2rem;
    background-color: $secondary-light;
    backface-visibility: hidden;
}

.card-side-front-1{
    display: flex;
    background-color: $secondary-light;
    text-align: center;
    position: absolute;
    z-index: 1;
    transition: all 1s;
}

.captions{
    color: $primary;
    
}

.card-side-back-1{
    display: flex;
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
    background-image: url(../../img/ashgabat_map.PNG);
    background-size: cover;

}

.card-side-front-2{
    display: flex;
    background-color: $secondary-light;
    position: absolute;
    z-index: 1;
    transition: all 1s;
    text-align: center;
}

.card-side-back-2{
    display: flex;
    position: absolute;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
    background-image: url(../../img/ashgabat_hotels.PNG);
}

.directions:hover .card-side-front-1{
    transform: rotateY(-180deg);
}

.directions:hover .card-side-back-1{
    transform: rotateY(0deg);
}

.hotels:hover .card-side-front-2{
    transform: rotateY(-180deg);
}

.hotels:hover .card-side-back-2{
    transform: rotateY(0deg);
}